<h1 style="text-align: center;">
    Employee Details Form
</h1>
<div class="row justify-content-center mt-5">
    <div class="col-md-4 register-employee">
      <!-- form card register -->
      <div class="card-body">
        <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <label for="">Name</label>
            <input class="form-control" type="text" formControlName="name" />
          </div>
          <div class="mb-3">
            <label for="">Email</label>
            <input class="form-control" type="email" formControlName="email" />
          </div>
          <div class="mb-3">
            <label for="">Designation</label>
            <input class="form-control" type="text" formControlName="designation" />
          </div>
          <div class="mb-3">
            <label for="">Mobile No</label>
            <input class="form-control" type="number" formControlName="phoneNumber" />
          </div>
          <div class="d-grid">
            <button class="btn btn-primary btn-block" type="submit">
              Save
            </button>
          </div>
        </form>
      </div>
      <!-- form card register -->
    </div>
  </div>
